.container {
    background-color: #FFF5EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
  }
  
  .logo {
    margin-bottom: 20px;
  }
  
  .form-group{
    background-color: #FFFFFF;
    color: #555555;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #CCCCCC;
    width: 100%;
  }
  
  .btn-primary {
    background-color: #FF6347;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
  }
  

  